<h1>Listing image_orders</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @image_orders.each do |image_order| %>
  <tr>
    <td><%= link_to 'Show', image_order %></td>
    <td><%= link_to 'Edit', edit_image_order_path(image_order) %></td>
    <td><%= link_to 'Destroy', image_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image order', new_image_order_path %>
