<div>
This is an application for uploading images and sharing them with other users.
You can upload by clicking on the "Upload" menu item. You can either upload an image file from your local computer or you can point to (URI) an image accessible through the internet. 
</div>
<br />
<div>
You can also search your own images or for other user's images (title), or for other users (username) and request access for their images. When searching for users, you can add them as a friend, which will allow you to easily share images with them.
Try adding "Friedrich Murray" to your friends list. He is sharing quite a lot of images.
</div>
<br />
<div>
When clicking on the "Pictures" menu item, you will be presented with the thumbnail view of the images that are currently in your library (i.e. your own images as well as those you have been granted access for).
You can change the order of images by using drag and drop (move an image to the next page by dropping it in the lowest row of images which is showing a preview of the next page of images).
</div>
<br />
<div>
If you click on any of the thumbnails, you will be forwarded to see the actual image. There you can edit the title of the image by clicking on it, as well as manage the access rights.
You can restrict the access so that only you can see your image. You can also manually select a number of users who will have access to the image (choose from the drop-down list and press "Grant Access"). 
As a third alternative, you can allow access to an image for all your friends.
</div>
